@tailwind base;
@tailwind components;
@tailwind utilities;

.firacode {
  font-family: var(--firacode);
}

.BorderR {
  @apply border-r border-r-[#607B96];
}

.Text {
  @apply text-[#607B96];
}

.Border {
  @apply border border-[#607B96];
}

.BorderB{
  @apply border-[#607B96] border-b-[1px];
}

.background {
  @apply bg-[#011627];
}

.hero-height {
  height: calc(100vh - 180px);
  width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #011627;
  border-radius: 100%;
}

::-webkit-scrollbar-track {
  background-color: #011627; 
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #011627;
}
