@tailwind base;
@tailwind components;
@tailwind utilities;

.firacode {
  font-family: var(--firacode);
}

.BorderR {
  @apply border-r border-r-[#607B96];
}

.container {
  @apply mx-auto max-w-[1500px];
}
.Text {
  @apply text-[#607B96];
}

.Border {
  @apply border border-[#607B96];
}

.BorderB{
  @apply border-b border-b-[#607B96];
}

.background {
  @apply bg-[#011627];
}

.hero-height {
  height: calc(100vh - 180px);
  width: 100%;
}
